extends layout.pug
append head
    link(rel="stylesheet" href="/stylesheets/profile.css")
    script(src="/javascripts/index.js" type="module" defer)
block content
    h1 Welcome to your profile chef...
    br
    div.profileBox
        #userHeader
            #userPersonalInfo
                h4 First name:   #{userInfo.firstName}
                br 
                h4 Last name:   #{userInfo.lastName}
                br
                h4 Username:   #{userInfo.username}
                br
                h4 Email Address:   #{userInfo.email}
                br
            #userPostInfo
                h4 Number of Posts:    #{postCount}
                br
                h4 Number of Likes:    #{userLikes}
                br
                h4 Top Post:
                br
            #userBio
            if userInfo.bio
                h4 Bio: #{userInfo.bio}
        .userButtons
            button(type="submit" id="profile-button") Edit Profile
            button(type="submit" id="profile-button") Change Password
            button(type="submit" id="profile-button") Delete Profile
            button(type="submit" id="profile-button") Create/Edit a bio
    br
    br
    br
            

